<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ViV state map</title>
	<meta name="date" content="2021-03-21 10:18" />
	<meta name="description" content="State of survival map of state #393 with the ViV and viv alliances" />
<script>
{{ Path('svg-pan-zoom.min.js').read_text()|safe }}
</script>
<style>
body { margin: 0; font: 100% serif; }
header { position: absolute; }
header h1 { margin: 0; padding: 0.2em 0.5em; font-size: 2em; }
header p { margin: 0; padding: 0 1em; font-size: 0.8em; }

#state-map { width: 100%; height: 100vh; }
.svg-pan-zoom-control-background { fill-opacity: 0 !important; }
</style>
</head>

<body>

<header>
<h1>ViV state map</h1>
<p><a href="{{ filename }}">svg image</a></p>
</header>

<main>
{{ Path('docs/' + filename).read_text()|safe }}
</main>

<script>
window.onload = function() {
	svgPanZoom('#state-map', {
		zoomEnabled: true,
		controlIconsEnabled: true,
		fit: true,
		center: true
	});
};
</script>
</body>
</html>
